<h1> Hi <%= @user.first_name %>, Reset Your Password.</h1>
<%= form_for(@user, :url => update_password_users_path(@user)) do|f| %>
<div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class = "actions">
		<%= f.submit %>
	</div>
<% end %>
