<!DOCTYPE html>
<html>
<head>
  <title>Crispics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = 'header'>
<h1>Crispics. Your Personal Photo Store</h1>
<% if logged_in? %>
<%= link_to "View Profile", users_path %>
<%= link_to "Logout", logout_path, method: :delete%>
<% end %>
</div>
<%= yield %>

</body>
</html>
